{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold text-blue-800 mb-4">Ini adalah halaman About</h1>
  <p class="text-gray-700 leading-relaxed">
    Nam nec eros felis. Phasellus sagittis eu mauris vel lacinia. Proin et nisl nibh. Quisque risus enim, ornare non viverra sed, cursus vitae orci. Aenean commodo nisi ante, iaculis sagittis libero facilisis nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi leo magna, porta id elit eget, sodales fringilla quam. Integer accumsan tortor non condimentum dictum. Proin commodo est in turpis sagittis hendrerit. Suspendisse et hendrerit nisi. Suspendisse semper ipsum a augue feugiat, id ullamcorper mi efficitur. Nunc accumsan leo sed ligula aliquet, in molestie orci facilisis. Nulla egestas ut turpis id scelerisque. Proin bibendum ac dui vitae venenatis. Maecenas elit enim, sollicitudin non volutpat ac, pharetra ac elit. Suspendisse pulvinar urna quis finibus consequat.
  </p>
{% endblock %}
